header {
  background-color: var(--back-color);
  padding: 20px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 300;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
